@{
    ViewData["Title"] = "Get to Know Joel";
}

<head>
    <title class="text-center">Here's a little more about Joel...</title>
</head>
<body>
<div class="text-center">
    <p>Visit the site for Quick Wits Comedy, where Joel regularly performs</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</div>
<br/>
<div class="text-center">
    <p>Visit the site for Baconsale, Joel's film and pop culture podcast</p>
    <a href="https://baconsale.com/">Baconsale</a>
    <br/>
    <a href="https://baconsale.com/"><img src="/images/BaconsaleKate.jpg" alt="Joel and pals with Kate Beckinsale at a convention" height="500"/></a>
    <!-- image has same link as the text above it -->
</div>
</body>
