@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br/>
    <img src="images/JoelHiltonHeadshot.jpg"/>
</div>

<br/>

<div class="text-center">
    <p>Please enjoy Joel's passion alongside him: absolute cinema.</p>
</div>