@model Movie

<!-- page to create the add form and call in the action -->

@{
    ViewData["Title"] = "Add Movie";
}

<h2>Use this form to add a movie to the database</h2>

<form method="post">
    <input type="hidden" asp-for="MovieId"/>
    
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Categories m in ViewBag.Categories)
        {
            <option value="@m.CategoryId">@m.CategoryName</option>
        }
    </select>
    <br/>
    <label asp-for="Title">Title:</label>
    <input asp-for="Title" required/>
    <br/>
    <label asp-for="Year">Year:</label>
    <input asp-for="Year" required min="1888"/>
    <br/>
    <label asp-for="Director">Director:</label>
    <input asp-for="Director"/>
    <br/>
    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br/>
    <label asp-for="Edited">Is this movie edited from its original format?</label>
    <select asp-for="Edited" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" maxlength="25"/>
    <br/>
    <label asp-for="CopiedToPlex">Is this movie copied to Plex?</label>
    <select asp-for="CopiedToPlex" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" maxlength="25"/>
    <br/>
    <button type="submit">Add Movie</button>
    
    <div asp-validation-summary="All"></div>
</form>